<section class="seccFormLogin">
  <div class="contForm">
    <p>Inicia Sesión</p>
    <div class="logo">
      <div class="firstLogo">
        <h1>LAB</h1>
      </div>
      <div class="secondLogo">
        <h1>Notes</h1>
      </div>
    </div>
    <form class="formLogin">
      <div class="contInputLogin">
        <input
          #emailUser
          class="inputLogin"
          type="email"
          placeholder="Correo electrónico"
          (change)="validationEmail($event)"
        />
        <input
          #passwordUser
          class="inputLogin"
          type="password"
          placeholder="Contraseña"
        />
      </div>
      <button type="button" class="btnEnter btnGeneral" (click)="onSubmitWithEmailAndPass()">Entrar</button>
      <div class="linksRedirect">
        ¿Olvidaste tu <a class="linksRedirect" href="/forgert-password">contraseña</a> ?
      </div>
      <p #msgError class="msgError"></p>
      <div class="separator">
        <hr class="hr" />
        O
        <hr class="hr" />
      </div>
      <button type="button" class="btnGoogle btnGeneral" (click)="onSubmitGoogle()">
        <i class="bi bi-google"></i> Iniciar sesión con google
      </button>
      <div class="linksRedirect">
        ¿Ya eres miembro?
        <a class="linksRedirect" href="/sing-in">Registrate ahora</a>
      </div>
    </form>
  </div>
</section>
