@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Merriweather:wght@300;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.seccFormLogin {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #d9d9d9;
    font-family: 'Merriweather', serif;
}

.contForm {
    display: flex;
    flex-direction: column;
    width: 25.625rem;
    height: 40.875rem;
    background-color: #fff;
    margin: auto;
    border-radius: 1.5rem;
    gap: 1rem;
    padding: 1rem 0;
}

.contForm > p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    align-self: center;
    font-weight: 700;
}

/* ---------- LOGO ---------- */
.logo {
    display: flex;
    margin: 0 auto;
    height: 4rem;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.5rem .2rem rgba(0, 0, 0, 0.25);
}

.firstLogo {
    border-radius: 0.2rem 0 0 0.2rem;
    padding: 0 0.2rem;
}
.secondLogo {
    margin-left: -0.2rem;
    padding: 0.25rem;
    background-color: #000;
    color: #fff;
    border-radius: 0.2rem;
}

/* -------------  LOGIN ------------- */

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.linksRedirect {
    text-decoration: none;
}

.inputLogin {
    width: 20rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-color: #d9d9d9;
    margin: auto;
    padding: 0 0.5rem;
    font-weight: 700;
}
.contInputLogin {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;

}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hr {
    width: 150px;
    height: 1px;
    margin: 20px;
  }

  /* ---------------- BTN GOOGLE ---------------- */

.btnGeneral {
    font-weight: 400;
    font-size: 1.3rem;
    width: 9.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
    background: #FFFFFF;
}

.btnGoogle{
    display: flex;
    width: 350px;
    background-color: #483B3B;
    color: #FFFFFF;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}