<section class="seccFormForgetPass">
    <div class="contForm" *ngIf="!statusModal">
      <div class="logo">
        <div class="firstLogo">
          <h1>LAB</h1>
        </div>
        <div class="secondLogo">
          <h1>Notes</h1>
        </div>
      </div>
      <p>Ingresa tu correo</p>
      <form class="formForgetPass">
        <div class="contInputForgetPass">
          <input
            #emailUser
            class="inputForgetPass"
            type="email"
            placeholder="Correo electrónico"
          />
        </div>
        <button type="button" class="btnGeneral" (click)="resetPass()">Enviar</button>
        <p class="textDescription">Te enviaremos un link de recuperación de contraseña a tu correo</p>
        <p #msgError class="msgError"></p>
      </form>
    </div>
    <ng-template [ngIf]="statusModal">
      <div class="contModalConfirm">
        <div class="contIconCheck"><i class="bi bi-check-circle"></i></div>
        <h3 class="txtConfirm">Hemos enviado un email, por favor restaura tu contraseña e inicia sesión</h3>
        <button type="button" class="btnSingIn btnGeneral" (click)="returnToLoging()">Ir a Iniciar Sesion</button>
      </div>
    </ng-template>
  </section>
  