
<section #contGeneralNotes class="contGeneralStikyNotes">
  <section class="seccStikyNote" *ngFor="let note of notesByUser; index as i">
    <div class="contStikyNote">
      <button class="labelIcon">
        <span #txtAssignLabel>{{note.category.nameLabel}}</span>
        <i class="bi bi-bookmark" #colorAssignLabel [ngStyle]="{ 'color': note.category.colorLabel }"></i>
      </button>
      <textarea
        #titleContent
        [readonly]="this.selecIndex !== i"
        [ngClass]="{'editNotes': this.selecIndex === i}"
        role="textbox"
        maxlength="25"
        class="titleNoteFromData"
      >{{note.title}}</textarea
      >
      <textarea
        #txtContent
        [readonly]="this.selecIndex !== i"
        [ngClass]="{'editNotes': this.selecIndex === i}"

        role="textbox"
        class="txtNoteFromData"
      >{{note.contNote}}</textarea
      >
    </div>
    <div class="contFooterOptions" *ngIf=" this.selecIndex !== i && !note.status.archived && !note.status.trash">
      <button class="labelOption" (click)="asiggnLabelModal(i)">
        <i class="bi bi-bookmark"></i>
      </button>
      <div class="contLabels" *ngIf="statusAssignLabel && this.selecIndex4Label === i">
        <div *ngFor="let label of arrLabelsByUser">
          <div class="labelList">
            <span #labelName (click)="getValuesOfLabel($event, label, note.id)">
              <i
                #colorValue
                class="bi bi-caret-right-fill"
                [ngStyle]="{ 'background-color': label.colorLabel }"
              ></i>
              {{ label.nameLabel }}
            </span>
          </div>
        </div>
      </div>
      <button class="editOption" (click)="showModalEditNoteOptions(i)">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="archivedOption" (click)="sendToArchived(note.id)">
        <i class="bi bi-folder-check"></i>
      </button>
      <button class="deleteOption" (click)="sendToTrash(note.id)">
        <i class="bi bi-trash"></i>
      </button>
    </div>
    <ng-container  *ngIf="this.selecIndex === i && !note.status.archived && !note.status.trash">
      <div class="contFooterOptions">
        <button class="checkOption" (click)="acceptEditNote(note)">
          <i class="bi bi-check-circle"></i>
        </button>
        <button class="closeOption" (click)="cancelEditNote()">
          <i class="bi bi-x-circle"></i>
        </button>
      </div>
    </ng-container>
    <ng-container  *ngIf="this.selecIndex !== i && !note.status.archived && note.status.trash">
      <div class="contFooterOptions">
        <button class="checkOption" (click)="restoreNotesToInitFromArchived(note.id)">
          <i class="bi bi-arrow-up-left-circle"></i>
        </button>
        <button class="closeOption" (click)="deleteNote(note.id)">
          <i class="bi bi-x-circle"></i>
        </button>
      </div>
    </ng-container>
    <ng-container  *ngIf="this.selecIndex !== i && note.status.archived && !note.status.trash">
      <div class="contFooterOptions">
        <button class="checkOption" (click)="restoreNotesToInitFromTrash(note.id)">
          <i class="bi bi-folder-x"></i>
        </button>
        <button class="closeOption" (click)="sendToTrash(note.id)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </ng-container>
  </section>
  <div class="contModalConfirm" *ngIf="showModalNotification">
    <div class="contIconCheck"><i class="bi bi-check-circle"></i></div>
    <h3 class="txtConfirm">{{txtNotification}}</h3>
    <button type="button" class="btnGeneral" (click)="closeModalNotification()">Aceptar</button>
  </div>
</section>