
<section class="contHeader">
  <div class="logo">
    <div class="firstLogo">
      <h1>LAB</h1>
    </div>
    <div class="secondLogo">
      <h1>Notes</h1>
    </div>
  </div>
  <div class="contBtnsCenter">
    <button type="button" class="btnGeneral" (click)="createStickyNote()"><i class="bi bi-file-earmark-plus"></i></button>
    <button type="button" class="btnGeneral" (click)="showModalLabels()"><i class="bi bi-bookmark"></i></button>
  </div>
  <div class="contLabels" *ngIf="statusAsignLabel">
    <button type="button" class="addLabel labels" (click)="showModalLabels()"><i class="bi bi-bookmark-plus"></i>Agregar</button>
    <button class="labels ">
      <i class="bi bi-caret-right-fill color1"></i>
        <p>CASAAAAAAAAAA</p>
    </button>
    <button class="labels">
      <i class="bi bi-caret-right-fill color2"></i>
        <P>TRABAJO</P>
    </button>
    <button class="labels">
      <i class="bi bi-caret-right-fill color3"></i>
        <P>COLE</P>
    </button>
</div>
  <div class="contBtnLogOut">
    <button type="button" class="btnGeneral" (click)="signOut()"><i class="bi bi-box-arrow-right" ></i></button>
</div>
<div class="modalCreateLabel" >
  <h3>Nueva Etiqueta:</h3>
  <textarea #changeNicknameUser role="textbox" contenteditable class="labelName" maxlength="20">Ejemplo...</textarea>
  <p #msgError class="msgError"></p>
  <div class="contColor">
    <h3>Color:</h3>
    <input type="color">
  </div>
  <div class="contBtnSaveOrCancelModal">
    <button class="btnsSaveOrCancelNickname">Guardar</button>
    <button class="btnsSaveOrCancelNickname" >Cancelar</button>
  </div>
</div>

</section>
