@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Merriweather:wght@300;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contHeader {
    display: flex;
    height: 3.5rem;
    width: 100%;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    box-shadow: 0 0 0.5rem .2rem rgba(0, 0, 0, 0.25);
    position: absolute;
}

/* ---------- LOGO ---------- */
 .logo {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.5rem .2rem rgba(0, 0, 0, 0.25);
}

.firstLogo {
    border-radius: 0.2rem 0 0 0.2rem;
    padding: 0 0.2rem;
    line-height: 2.3rem;
    background-color: white;
}
.secondLogo {
    margin-left: -0.2rem;
    padding: 0.25rem;
    background-color: #000;
    color: #fff;
    border-radius: 0.2rem;

}

.btnGeneral {
    border: none;
    height: 4rem;
    background-color: transparent;
}

.bi {
    font-size: xx-large;
}

.contBtnsCenter {
    display: flex;
    width: 5rem;
    height: auto;
    justify-content: space-between;
}

/* ---------------OPCION DE ETIQUETAS -------------------- */

.labels {
    display: flex;
    background: none;
    border: 0;
    padding: 0.5rem 0.5rem;
    margin: 0.2rem 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: small;
    border-radius: 0.3rem;
    color: white;
    align-items: center;
    width: 100%;
    gap: 0.2rem;
    align-content: center;
}

.labels > .bi-caret-right-fill {
    font-size: small;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.bi-bookmark-plus {
    font-size: medium;
}

.contLabels {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: max-content;
    height: auto;
    align-items: center;
    padding: 0 0.3rem;
    top: 3.6rem;
    left: 50%;
    background-color: #d9d9d9;
    box-shadow: 0 0 0.5rem .2rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.contLabelsCreated {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.addLabel {
    color: #000;
    border-bottom: 0.1rem dotted;
    border-radius: 0;
}

.labels > p {
    color: #000;
}

/* ------------- MODAL EDITAR NICK DE USUARIO  ------------- */

.modalCreateLabel {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    position: absolute;
    justify-content: space-around;
    font-family: 'Merriweather', serif;
    align-items: center;
    border-radius: 0.5rem;
    top: 50vh;
    left: 50vw;
    width: 20rem;
    height: 16rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0.5rem .2rem rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.labelName {
    display: flex;
    height: 3rem;
    font-size: large;
    border: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    resize: none;
    padding: 0.7rem 0.3rem;
}

.labelName:focus {
    outline: 0;
}

.contBtnSaveOrCancelModal {
    display: flex;
    gap: 0.5rem;
}

.btnsSaveOrCancelNickname {
    font-size: medium;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
    background: #FFFFFF;
}

.contColor {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.contColor > input {
    width: 3.5rem;
    height: 3.5rem;
}
.msgError {
    color: red;
    font-weight: 700;
  }

  /* 
  modalCreateLabel
  labelName
  msgError
  contColor
  contBtnSaveOrCancelModal
  btnsSaveOrCancelNickname
   */