<section #seccContDropdownMenu class="contdropdownMenu">
  <button
    #btnDropdownMenu
    type="button"
    class="btnGeneral btnDropdownMenu"
    (click)="activeDropdownMenu()"
  >
    <i class="bi bi-list"></i>
  </button>
  <ul class="ulList">
    <li>
      <button
        type="button"
        class="btnGeneral btnContUser"
        (click)="showModalChangeNickname()"
      >
        <i class="bi bi-person-circle"></i>
        <span *ngIf="this.dropdownMenu">{{ nicknameUser }}</span>
      </button>
      <div class="modalEditNickname" *ngIf="modalChangeNameUser">
        <h3>Editar Nick:</h3>
        <textarea
          #changeNicknameUser
          role="textbox"
          contenteditable
          class="nameUser"
          maxlength="20"
          (click)="targetElementNickname($event)"
          >{{ nicknameUser }}</textarea
        >
        <div class="contBtnSaveOrCancelModal">
          <button class="btnsSaveOrCancelNickname" (click)="changeNickname()">
            Guardar
          </button>
          <button
            class="btnsSaveOrCancelNickname"
            (click)="closeModalChangeNickname()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </li>
    <div>
      <hr class="hr" />
    </div>
    <li>
      <button type="button" class="btnGeneral btnContNotes" (click)="showAllNotes()">
        <i #notesIcon class="bi bi-journal-text"></i>
        <span *ngIf="this.dropdownMenu">Notas</span>
      </button>
    </li>
    <div>
      <hr class="hr" />
    </div>
    <li>
      <button type="button" class="btnGeneral btnContLabels">
        <i class="bi bi-bookmark"></i>
        <span *ngIf="this.dropdownMenu">Etiquetas</span>
      </button>
      <div #labelListStyle class="hrDotter"></div>
    </li>
    <div
      class="labelListVoid"
      *ngIf="arrLabelsByUser.length === 0; else listOfLabelsTemplate"
    >
      <span *ngIf="this.dropdownMenu">No hay etiquetas</span>
    </div>
    <ng-template #listOfLabelsTemplate>
      <div *ngFor="let label of arrLabelsByUser">
        <div class="labelList" *ngIf="this.dropdownMenu">
          <span>
            <i
              class="bi bi-caret-right-fill"
              [ngStyle]="{ 'background-color': label.colorLabel }"
            ></i>
            {{ label.nameLabel}}
          </span>
          <ul class="contBtnsEditAndDeleteLabels">
            <li>
              <button type="button" class="editAndDelete" (click)="editLabelById(label.id)">
                <i class="bi bi-pencil editAndDelete"></i>
              </button>
            </li>
            <li>
              <button type="button" class="editAndDelete" (click)="deleteLabelById(label.id)">
                <i class="bi bi-x-circle editAndDelete"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modalCreateLabel" *ngIf="modalEditLabel">
        <h3>Cambiar Etiqueta:</h3>
        <textarea
          #labelName
          role="textbox"
          contenteditable
          class="labelName"
          maxlength="13"
          (click)="targetElementnewLabel($event)"
        >Nuevo Nombre...</textarea
        >
        <p #msgError class="msgError"></p>
        <div class="contColor">
          <h3>Color:</h3>
          <input #inputColor type="color" />
        </div>
        <div class="contBtnSaveOrCancelModal">
          <button class="btnsSaveOrCancelNickname" (click)="changeLabel()">
            Guardar
          </button>
          <button class="btnsSaveOrCancelNickname" (click)="closeModalEditLabel()">
            Cancelar
          </button>
        </div>
      </div>
      <div class="modalDeleteLabel" *ngIf="modalDeleteLabel">
        <h3>¿Seguro que desea eliminar la etiqueta?</h3>
        <div class="contBtnSaveOrCancelModal">
          <button class="btnsSaveOrCancelNickname" (click)="confirmDeleteLabel(idActualLabel)">
            Eliminar
          </button>
          <button class="btnsSaveOrCancelNickname" (click)="cancelDeleteLabel()">
            Cancelar
          </button>
        </div>
      </div>
    </ng-template>
    <div>
      <hr class="hr" />
    </div>
    <li>
      <button type="button" class="btnGeneral btnContArchived" (click)="showArchivedNotes()">
        <i #archivedIcon class="bi bi-folder2-open"></i>
        <span *ngIf="this.dropdownMenu">Archivados</span>
      </button>
    </li>
    <div>
      <hr class="hr" />
    </div>
    <li>
      <button class="contTrash" class="btnGeneral contArchived" (click)="showTrashNotes()">
        <i #trashIcon class="bi bi-trash"></i>
        <span *ngIf="this.dropdownMenu">Papelera</span>
      </button>
    </li>
  </ul>
</section>
