@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Merriweather:wght@300;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.seccStikyNote {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F7E9A3;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 26.875rem;
    width: 18.125rem;
    flex-direction: column;
}

.contStikyNote {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    height: 90%;
    font-weight: 700;
}

.labelIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    height: 2.8rem;
    background: none;
    border: 0;
    color: inherit;
}

.labelIcon > i {
    color: gray;
}

.labelIcon > span {
    font-family: 'Merriweather', serif;
    font-size: small;
    font-style: oblique;
    margin-right: 0.5rem;
    color: gray;
}

.titleNote {
    display: flex;
    font-family: 'Libre Baskerville', serif;
    height: 3rem;
    font-size: large;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-style: oblique;
    color: gray;
    resize: none;
    padding: 0.7rem 0.3rem;
}

.txtNote {
    display: flex;
    text-align: justify;
    font-family: 'Merriweather', serif;
    height: 17rem;
    font-size: small;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-style: oblique;
    color: gray;
    resize: none;
}

.titleNote:focus, .txtNote:focus {
    outline: 0;
}
.contFooterOptions {
    display: flex;
    justify-self: flex-end;
    background: rgba(255, 255, 255, 0.5);
    border-top: solid 1px #000;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    /* padding: 0 2.5rem; */
    font-weight: bolder;
}

.contFooterOptions > button {
    font-size: 1.3rem;
    background: none;
    border: 0;
}

/* ---------------OPCION DE ETIQUETAS -------------------- */

.labels {
    display: flex;
    background: none;
    border: 0;
    padding: 0.5rem 1rem;
    margin: 0.2rem 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    border-radius: 0.3rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.contLabels {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: max-content;
    height: auto;
    padding: 0 0.3rem;
    left: 95%;
    background-color: #d9d9d9;
    box-shadow: 0 0 0.5rem .2rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.color1 {
    background-color: rgb(255, 0, 0, 0.7);
}

.color2 {
    background-color: rgb(128, 0, 128, 0.7);
}

.color3 {
    background-color: rgb(34, 139, 34, 0.7);
}