<section class="seccFormRegister">
  <div class="contForm">
    <p>Registrate</p>
    <div class="logo">
      <div class="firstLogo">
        <h1>LAB</h1>
      </div>
      <div class="secondLogo">
        <h1>Notes</h1>
      </div>
    </div>
    <form class="formRegister">
      <button type="button" class="btnGoogle btnGeneral" (click)="onSubmitGoogle()">
        <i class="bi bi-google"></i> Iniciar sesión con google
      </button>
      <div class="separator">
        <hr class="hr" />
        O
        <hr class="hr" />
      </div>
      <div class="contInputRegister">
        <input
          #emailUser
          class="inputRegister"
          type="email"
          placeholder="Correo electrónico"
        />
        <input
          #nameUser
          class="inputRegister"
          type="text"
          placeholder="Nombre completo"
        />
        <input
          #nickNameUser
          class="inputRegister"
          type="text"
          placeholder="Nombre de usuario"
        />
        <input
          #passwordUser
          class="inputRegister"
          type="password"
          placeholder="Contraseña"
        />
      </div>
      <button type="button" class="btnEnter btnGeneral" (click)="onSubmitEmailAndPass()">Registrar</button>
      <!-- <p id="message-error"></p> -->
      <div class="linksRedirect">
        ¿Ya eres miembro?
        <a class="linksRedirect" href="/login">Inicia sesión ahora</a>
      </div>
    </form>
  </div>
  <!-- <div id="modal-message" class="modal">
    <div class="modalCont">
      <h2>Verifica tu correo</h2>
      <p>Te hemos enviado un correo electrónico, verificalo e inicia sesión</p>
      <button type="button" class="btnRedirect btnGeneral">
        Ir a Iniciar Sesión
      </button>
    </div>
  </div> -->
</section>
