@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Merriweather:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif; */
.seccFormRegister {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #d9d9d9;
}

.contForm {
    display: flex;
    flex-direction: column;
    width: 25.625rem;
    height: 36.875rem;
    background-color: #fff;
    margin: auto;
    border-radius: 1.5rem;
}

.contForm > p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
}
/* ---------- LOGO ---------- */
.logo {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    height: 4rem;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.5rem .2rem rgba(0, 0, 0, 0.25);
}

.firstLogo {
    border-radius: 0.2rem 0 0 0.2rem;
    padding: 0 0.2rem;
}
.secondLogo {
    margin-left: -0.2rem;
    padding: 0 0.2rem;
    background-color: #000;
    color: #fff;
    border-radius: 0.2rem;

}

/* ---------------- BTN GOOGLE ---------------- */
.btnGeneral {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.3rem;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: none;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
    background: #FFFFFF;
}

.btnGoogle{
    display: flex;
    width: 350px;
    background-color: #483B3B;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
}
/* -------------  REGISTRO ------------- */

 .inputRegister {
    width: 25rem;
    height: 4rem;
    border-radius: 0.5rem;
    border-color: #d9d9d9;
    margin: auto;
    padding: 0 20px;
    font-weight: 700;
}

.formRegister {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 40px;
}
/*
.screen-register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
  .formRegister {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 40px;
} */